@import "/src/styles/base/typography.scss";
@import "/src/styles/base/mixins.scss";
@import "/src/styles/base/colors.scss";
@import "/src/styles/base/animations.scss";

.header-menu-container {
  @include FlexCenter();
  width: 100%;
  justify-content: space-between;
  height: 109px;
  border-width: 3px 0;
  border-style: solid;
  border-color: $text-primary;
}

.header-menu-one-side {
  @include FlexCenter;
  height: 100%;
}

.header-menu-option {
  padding: 0px 70px 0px 70px;
  font-size: 20px;
  height: 100%;
  @include FlexCenterHorizontal;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}



#projekti {
  @include CategoryAnimation($color-brown);
  border-right: 3px solid;
}

#omeni {
  @include CategoryAnimation($color-green1);
  border-right: 3px solid;
}

#kontakt {
  @include CategoryAnimation($color-green2);
  border-left: 3px solid;
}

#odabirstudenta {
  @include CategoryAnimation($color-blue);
  border-left: 3px solid;
}
