$background-primary: #fff;
$background-secondary: #dedede;
$text-primary: #000;
$text-secondary: #555;
$color-primary: #ccff54;
$color-brown: #b8aa87;
$color-green1: #889761;
$color-green2: #86b382;
$color-blue: #94b0b3;
$color-link: #0029b1;